#reference {
	max-width: 1240px;
	width: 90%;
	margin: 15px auto;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	gap: 5px;
	padding: 15px;
	position: relative;
	height: 500px;
	box-shadow: inset -29px 46px 43px -5px rgba(35, 3, 3, 0.5);
	-webkit-box-shadow: inset -29px 46px 43px -5px rgba(35, 3, 3, 0.5);
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.card img {
	height: 250px;
	width: 250px;
	border-radius: 40%;
	object-fit: cover;
	background-color: #26A4BF;
	padding: 5px;
	border: 1px solid rgb(202, 96, 35);
}

.card-text {
	color: rgb(226, 183, 40);
	text-align: center;
	font-size: 19px;
}

.card-person-name {
	font-size: 24px;
}

#prev {
	color: orange;
	position: absolute;
	left: 0;
	top: 50%;
	height: 30px;
}

#next {
	color: orange;
	position: absolute;
	right: 0;
	top: 50%;
	height: 30px;
}